In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/7.4.csv')
df.head()

            Tag        Word  Untranslated  Translated
0          name       Trump             3          17
1  organization  Ciudadanos             2           8
2      location   Andalucia             3           6
3  organization          PP             7           1
4         Event      Brexit             5           2

In [14]:
df.sort_values('Untranslated', ascending=False).to_csv('7.4.csv', index=None)

In [6]:
df_tag = df.groupby(['Tag']).sum()
df_tag

,Word,Untranslated,Translated
Tag,,,
Event,Brexit,5,2
location,AndaluciaDonetskBroward,5,11
name,TrumpDiazDonaldAbramsGore,12,22
organization,CiudadanosPPPSOEPodemosAdelanteVOX/VoxInstitut...,29,17

In [7]:
del df_tag['Word']

In [9]:
df_tag['%'] = df_tag['Untranslated'] / (df_tag['Untranslated'] + df_tag['Translated'])
df_tag

              Untranslated  Translated         %
Tag
Event                    5           2  0.714286
location                 5          11  0.312500
name                    12          22  0.352941
organization            29          17  0.630435

In [11]:
df_tag.sort_values('Untranslated', ascending=False)

              Untranslated  Translated         %
Tag
organization            29          17  0.630435
name                    12          22  0.352941
Event                    5           2  0.714286
location                 5          11  0.312500