In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
indir = './data/pilot'
os.listdir(indir)

['ranking.a.csv',
 'ranking.b.csv',
 '.DS_Store',
 'pe.b.csv',
 'pe.a.csv',
 'scoring.a.csv',
 'scoring.b.csv']

In [3]:
scoring = [l for l in os.listdir(indir) if 'scoring' in l]
scoring

['scoring.a.csv', 'scoring.b.csv']

In [6]:
def collect_score(flist: list, col: str):
    # .csv만 취급
    flist = [f for f in flist if f.endswith('.csv')]
    tmp = pd.DataFrame()
    for fname in flist:
        df = pd.read_csv(os.path.join(indir, fname))
        tmp[fname] = df[col]
    return tmp

f = collect_score(scoring, 'Fluency Score')
f

    scoring.a.csv  scoring.b.csv
0               4              4
1               4              3
2               4              2
3               2              3
4               2              2
..            ...            ...
93              4              4
94              2              1
95              3              3
96              2              2
97              3              4

[98 rows x 2 columns]

In [7]:
from sklearn.metrics import cohen_kappa_score

cohen_kappa_score(f['scoring.a.csv'], f['scoring.b.csv'])

0.37549019607843137

In [8]:
a = collect_score(scoring, 'Adequacy Score')
a

    scoring.a.csv  scoring.b.csv
0               4              4
1               3              4
2               3              3
3               3              3
4               3              2
..            ...            ...
93              4              4
94              2              1
95              3              4
96              3              4
97              3              4

[98 rows x 2 columns]

In [9]:
cohen_kappa_score(a['scoring.a.csv'], a['scoring.b.csv'])

0.15720674234606136